<?xml version="1.0" encoding="UTF-8" ?>

<widget 
  xmlns="http://www.w3.org/ns/widgets"
   xmlns:gap="http://phonegap.com/ns/1.0" 
   id="kartees.phonegap"
   versionCode ="10"
    version="1.0.0">
  <name>TCE GO</name>
  <description> Tce exam hall details application</description>
  <author href="http://build.phonegap.com" email="nskkarteeswaran@gmail.com">KARTEESWARAN NSK</author>
  <content src="index.html"/>
  <icon src="img/tce.png"/>
  
</widget>